<?xml version="1.0"?>

<!--
/**
 * @package   Didomi\ConsentManagement\etc
 * @author    Agence Dn'D <contact@dnd.fr>
 * @copyright 2004-present Agence Dn'D
 * @license   https://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 * @link      https://www.dnd.fr/
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <didomi>
            <consent_management>
                <enable_module>0</enable_module>
                <display_consent_link_footer>1</display_consent_link_footer>
                <consent_choice_link_label>Consent Choices</consent_choice_link_label>
                <condition_ga>0</condition_ga>
            </consent_management>
        </didomi>
    </default>
</config>
