<?xml version="1.0"?>

<!--
/**
 * @package   Didomi\ConsentManagement\etc\adminhtml
 * @author    Agence Dn'D <contact@dnd.fr>
 * @copyright 2004-present Agence Dn'D
 * @license   https://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 * @link      https://www.dnd.fr/
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="didomi" translate="label" sortOrder="100">
            <label>Didomi</label>
        </tab>
        <section id="didomi_consent_management" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Didomi - Consent Management</label>
            <tab>didomi</tab>
            <resource>Didomi_ConsentManagement::system_config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="version" translate="label" type="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Extension Version</label>
                    <backend_model>Didomi\ConsentManagement\Model\Config\ModuleVersion</backend_model>
                </field>
            </group>
        </section>
    </system>
</config>
